<%= flash[:message] %>
<h1>Sign Up for your Overwatch GM account here</h1>

<form method="POST" action="/signup">
  <label>Username</label><br>
  <input type="text" name="username"><br>

  <label>Email</label><br>
  <input type="email" name="email"><br>

  <label>Password</label><br>
  <input type="password" name="password"><br>

  <input type="submit" value="Sign-Up!">
</form>
