<h2>Current List of Players</h2>

<ul>
  <%@players.each do |player|%>
    <li><a href="/players/<%=player.slug%>"><%=player.name%></a> - <a href="/teams/<%=player.team.slug%>"><%=player.team.name%></a></li>
  <%end%>
</ul>
