<%= flash[:message] %>
<h2>Create a New League!</h2>

<form method="POST" action="/leagues/new">
  <label for="leagueName">League Name</label><br>
  <input type="text" name="league_name" id="leagueName"><br><br>

  <input type="checkbox" name="join_league" value="join" id="joinLeague">
  <label for="joinLeague">Join League?</label><br><br>

  <input type="submit" value="Create">
</form>
